<div class="col-md-12">
    <div class="card">
        <div class="card-height-indicator"></div>
        <div class="card-content">
            <div class="card-body">
                <h1>SNOMED CT Descriptive Statistics</h1>
                <p class="lead">For 20160131 Release</p>
                <p><em>SNOMED CT Release Descriptive Statistics</em> is a demo site for an IHTSDO Quality Assurance project.</p>
                <p>This document describes general descriptive release statistics to be used as part of an overall Quality Assurance process for the SNOMED CT International Release for which the objective is to provide information to assist the IHTSDO in:
                    •	Ensuring that newly added content meets quality assurance criteria
                    •	Ensuring that changes to existing content meet quality assurance criteria
                    •	Identifying and prioritizing areas of existing content which do not currently meet quality assurance criteria
                    •	Providing metrics on temporal trends as a measurement of progress
                    The general descriptive release statistics, obtained through automated queries, primarily relate to the objective of providing metrics on temporal trends as a measurement of progress. They provide information/metrics about the release which will also assist in comparing consecutive SNOMED CT® International Releases and trends across multiple releases.
                </p>
            </div>
            <footer class="card-footer">
                <!--<button class="btn btn-flat">Share</button>-->
                <!--<button class="btn btn-flat btn-warning">Learn More</button>-->
            </footer>
        </div>
    </div>
</div>
