<div class="col-md-12">
    <div class="card">
        <div class="card-height-indicator"></div>
        <div class="card-content">
            <div class="card-body">
                <div cass="container">
                    <h2>Pivot table</h2>
                    <div id="pivot"></div>
                </div>
            </div>
            <footer class="card-footer">
                <!--<button class="btn btn-flat">Share</button>-->
                <!--<button class="btn btn-flat btn-warning">Learn More</button>-->
            </footer>
        </div>
    </div>
</div>
